{% extends 'base.html' %}

{% block title %}Добавить клиента{% endblock %}

{% block content %}
    <h2>Добавить клиента</h2>
    <form method="post">
        {% csrf_token %}
        <label for="full_name">ФИО:</label>
        <input type="text" name="full_name" placeholder="Введите ваше ФИО" required>
        
        <label for="phone">Телефон:</label>
        <input type="text" name="phone" placeholder="Введите ваш номер телефона" required>
        
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Введите ваш email" required>
        
        <label for="address">Адрес:</label>
        <input name="address" placeholder="Введите ваш адрес" required>
        
        <button type="submit">Добавить</button>
    </form>
    <a href="{% url 'client_list' %}">Назад к списку клиентов</a>
{% endblock %}