{% extends 'base.html' %}

{% block title %}Редактировать клиента{% endblock %}

{% block content %}
    <h2>Добавить клиента</h2>
    <form method="post">
        {% csrf_token %}

        {% if error_message %}
            <div style="color: red;">{{ error_message }}</div>
        {% endif %}

        <label for="full_name">ФИО:</label>
        <input type="text" name="full_name" placeholder="Введите ваше ФИО" value="{{ client.full_name }}" required pattern="^[A-Za-zА-Яа-яЁё_ ]+$" title="Для ввода используйте только буквы и знак нижнего подчеркивания. Без пробелов!">
        <small>Для ввода, вместо пробела, используйте знак нижнего подчеркивания</small>
        
        <label for="phone">Телефон:</label>
        <input type="text" name="phone" placeholder="Введите ваш номер телефона" value="{{ client.phone }}" required>
        
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Введите ваш email" value="{{ client.get_email }}" required>
        
        <label for="address">Адрес:</label>
        <input name="address" placeholder="Введите ваш адрес" value="{{ client.address }}" required>
        
        <button type="submit">Добавить</button>
    </form>
    <a href="{% url 'client_list' %}">
        <button type="button" class="btn btn-danger">Назад к списку клиентов</button></a>
{% endblock %}