{% extends 'base.html' %}

{% block title %}Форма договора{% endblock %}

{% block content %}
    <h2>{% if contract %}Редактировать договор{% else %}Добавить договор{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        <label for="client_id">Клиент:</label>
        <select name="client_id" id="client_id" required onchange="updateCar()">
            {% for client in clients %}
                <option value="{{ client.pk }}">{{ client.full_name }}</option>
            {% endfor %}
        </select>
        
        <input type="hidden" name="car_id" id="car_id" required>
        
        <label for="car_info">Автомобиль:</label>
        <input type="text" id="car_info" readonly required>
        
        <label for="date">Дата:</label>
        <input type="date" name="date" id="date" value="{{ contract.date|default:'' }}" required>
        
        <label for="status">Статус:</label>
        <input type="text" name="status" placeholder="Укажите текущий статус" value="{{ contract.status|default:'' }}" required>
        
        <label for="total_amount">Сумма:</label>
        <input type="number" name="total_amount" placeholder="Введите сумму" value="{{ contract.total_amount|default:'' }}" required>
        
        <button type="submit">{% if contract %}Сохранить{% else %}Добавить{% endif %}</button>
    </form>
    <a href="{% url 'contract_list' %}"><button type="button" class="btn btn-danger">Назад к списку договоров</button></a>

    <script>
        function updateCar() {
            const clientId = document.getElementById('client_id').value;
            const carInfo = document.getElementById('car_info');
            const carIdInput = document.getElementById('car_id');
            
            fetch(`/api/cars/?client_id=${clientId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.length > 0) {
                        const car = data[0]; // Берем первый автомобиль
                        carInfo.value = `${car.brand} ${car.model}`; // Заполняем текстовое поле
                        carIdInput.value = car.id; // Заполняем скрытое поле
                    } else {
                        carInfo.value = ''; // Если нет автомобилей, очищаем поле
                        carIdInput.value = ''; // Очищаем скрытое поле
                    }
                });
        }
    </script>
{% endblock %}