{% extends 'base.html' %}

{% block title %}Список услуг{% endblock %}

{% block content %}
    <h2>Список услуг</h2>
    {% if user.is_authenticated %}
        {% if user.is_staff %}  <!-- Проверка на права администратора -->
            <a href="{% url 'add_service' %}">
                <button type="button" class="btn btn-danger">Добавить услугу</button>
            </a>
        {% endif %}
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Описание</th>
                <th>Цена</th>
                {% if user.is_staff %}  <!-- Проверка на права администратора -->
                    <th>Действия</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.name }}</td>
                    <td>{{ service.description }}</td>
                    <td>{{ service.price }}</td>
                    {% if user.is_staff %}  <!-- Проверка на права администратора -->
                        <td>
                            <a href="{% url 'edit_service' service.pk %}">
                                <button type="button" class="btn btn-danger">Редактировать</button>
                            </a>
                            <form action="{% url 'delete_service' service.pk %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit">Удалить</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}