{% extends 'base.html' %}

{% block title %}Форма услуги{% endblock %}

{% block content %}
    <h2>{% if service %}Редактировать услугу{% else %}Добавить услугу{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        <label for="name">Наименование:</label>
        <input type="text" name="name" placeholder="Введите наименование услуги" value="{{ service.name|default:'' }}" required>
        
        <label for="description">Описание:</label>
        <input name="description" placeholder="Введите описание услуги" required>{{ service.description|default:'' }}
        
        <label for="price">Цена:</label>
        <input type="number" name="price" placeholder="Введите стоимость услуги" value="{{ service.price|default:'' }}" required>
        
        <button type="submit">{% if service %}Сохранить{% else %}Добавить{% endif %}</button>
    </form>
    <a href="{% url 'service_list' %}"><button type="button" class="btn btn-danger">Назад к списку услуг</button></a>
{% endblock %}