{% extends 'base.html' %}

{% block title %}Форма запчасти{% endblock %}

{% block content %}
    <h2>{% if spare_part %}Редактировать запчасть{% else %}Добавить запчасть{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        <label for="name">Наименование:</label>
        <input type="text" name="name" placeholder="Введите наименование запчасти" value="{{ spare_part.name|default:'' }}" required>
        
        <label for="price">Цена:</label>
        <input type="number" name="price" placeholder="Введите стоимость запчасти" value="{{ spare_part.price|default:'' }}" required>
        
        <label for="quantity">Количество:</label>
        <input type="number" name="quantity" placeholder="Введите количество запчастей" value="{{ spare_part.quantity|default:'' }}" required>
        
        <button type="submit">{% if spare_part %}Сохранить{% else %}Добавить{% endif %}</button>
    </form>
    <a href="{% url 'sparepart_list' %}"><button type="button" class="btn btn-danger">Назад к списку запчастей</button></a>
{% endblock %}